<script src="/js/btnGuardarContacto.js"></script>
<link rel="stylesheet" href="/css/card.css">
<div class="container mt-4">
    <div class="row">
        <!-- Columna izquierda: Formulario -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <center><h1>Agregar Contacto</h1></center>
                </div>
                <div class="card-body">
                    <!-- se mandan los datos del formulario mediante POST -->
                    <form action="/home/contactos" method="POST" id="formContactos">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre del contacto" value="{{nombre}}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="apellidos" placeholder="Apellidos del contacto" value="{{apellidos}}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="mail" placeholder="Correo electrónico" value="{{mail}}" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" id="btnGuardar" disabled>Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Columna derecha: collectionData -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <center><h1>Contactos Guardados</h1></center>
                </div>
                <div class="card-body custom-scroll">
                    {{#each collectionData}}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{this.nombre}} {{this.apellidos}}</b></h5>
                            <p class="card-text">{{this.mail}}</p>
                            <div class="d-flex justify-content-between align-items-end">
                                <button type="button" class="btn btn-sm btn-success modify-button" style="width: 80px" data-id="{{this._id}}" data-nombre="{{this.nombre}}" data-apellidos="{{this.apellidos}}" data-mail="{{this.mail}}">Modificar</button>
                                <form action="/eliminarContacto" method="POST">
                                    <input type="hidden" name="contactoId" value="{{this._id}}">
                                    <button type="submit" class="btn btn-sm btn-danger" style="width: 80px">Borrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
